Repository ICB-DCM/pyPESTO, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ICB-DCM/pypesto-maintainers, @PaulJonasJost, @dilpath, @dweindl, @FFroehlich, @doresic, @plakrisenko, @stephanmg

Update ensemble.py
  pypesto/ensemble/ensemble.py
Owners: @dilpath

Update ensemble.py
  pypesto/ensemble/ensemble.py
Owners: @dilpath

Style changes ensemble.py
  pypesto/ensemble/ensemble.py
Owners: @dilpath

Fix string name & black
  pypesto/ensemble/ensemble.py
Owners: @dilpath

Added How to Cite to readme.
  README.md
  doc/references.rst
Owners: @ICB-DCM/pypesto-maintainers

Added a bit more information to petab importer and objective function created from petab. Line with "noqa" to keep url. Closes #1047
  pypesto/petab/importer.py
Owners: @dweindl, @FFroehlich

Moved noqa somewhere else
  pypesto/petab/importer.py
Owners: @dweindl, @FFroehlich

Replaced zengh with Boehm (smaller model should be faster)
  test/base/test_engine.py
Owners: @PaulJonasJost

Added info on the times for each test
  tox.ini
Owners: @ICB-DCM/pypesto-maintainers

Update C.py
  pypesto/C.py
Owners: @ICB-DCM/pypesto-maintainers

Update strings ensemble.py
  pypesto/ensemble/ensemble.py
Owners: @dilpath

Fix typo C.py
  pypesto/C.py
Owners: @ICB-DCM/pypesto-maintainers

Style and quality ensemble.py
  pypesto/ensemble/ensemble.py
Owners: @dilpath

Apply suggestions from code review
  pypesto/petab/importer.py
Owners: @dweindl, @FFroehlich

Temporarily set the version of petab installed to 1.4.2 (last working version)
  .github/workflows/ci.yml
Owners: @ICB-DCM/pypesto-maintainers

Altered syntax
  .github/workflows/ci.yml
Owners: @ICB-DCM/pypesto-maintainers

Slightly Altered syntax
  .github/workflows/ci.yml
Owners: @ICB-DCM/pypesto-maintainers

Temporarily set the version of petab installed to 1.4.2 (#1128)
  .github/workflows/ci.yml
Owners: @ICB-DCM/pypesto-maintainers

Added a bit more information to petab importer and objective function… (#1126)
  pypesto/petab/importer.py
Owners: @dweindl, @FFroehlich

Added how_to_cite to read_the_docs
  doc/how_to_cite.rst
Owners: @ICB-DCM/pypesto-maintainers

Update ensemble.py (#1124)
  pypesto/C.py
  pypesto/ensemble/ensemble.py
Owners: @ICB-DCM/pypesto-maintainers, @dilpath

fix ensembles from optimization endpoints
  pypesto/ensemble/ensemble.py
Owners: @dilpath

Get optimization result by id (#1116)
  pypesto/result/optimize.py
Owners: @PaulJonasJost

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners
* @ICB-DCM/pypesto-maintainers

/doc/example/hdf5_storage.ipynb @PaulJonasJost
/doc/example/hierarchical.ipynb @dilpath @dweindl
/doc/example/julia.ipynb @PaulJonasJost
/doc/example/model_selection.ipynb @dilpath
/doc/example/petab_import.ipynb @dweindl @FFroehlich
/doc/example/sampler_study.ipynb @dilpath
/doc/example/sampling_diagnostics.ipynb @dilpath
/doc/example/store.ipynb @PaulJonasJost
/doc/example/synthetic_data.ipynb @dilpath
/docker/ @dweindl
/pypesto/engine/ @PaulJonasJost
/pypesto/engine/mpi_pool.py @PaulJonasJost
/pypesto/ensemble/ @dilpath
/pypesto/hierarchical/ @dilpath @dweindl
/pypesto/hierarchical/optimal_scaling_approach/ @doresic
/pypesto/history/ @PaulJonasJost
/pypesto/objective/ @PaulJonasJost
/pypesto/objective/amici/ @PaulJonasJost @dweindl @FFroehlich
/pypesto/objective/jax/ @FFroehlich
/pypesto/objective/aesara/ @FFroehlich
/pypesto/optimize/ @PaulJonasJost
/pypesto/petab/ @dweindl @FFroehlich
/pypesto/predict/ @PaulJonasJost @dilpath
/pypesto/problem/ @PaulJonasJost
/pypesto/profile/ @PaulJonasJost
/pypesto/result/ @PaulJonasJost
/pypesto/sample/ @dilpath
/pypesto/select/ @dilpath
/pypesto/startpoint/ @PaulJonasJost
/pypesto/store/ @PaulJonasJost
/pypesto/visualize/ @plakrisenko @stephanmg
/test/base/ @PaulJonasJost
/test/doc/ @PaulJonasJost
/test/hierarchical/ @dilpath @dweindl
/test/julia/ @PaulJonasJost
/test/optimize/ @PaulJonasJost
/test/petab/ @dweindl @FFroehlich
/test/profile/ @PaulJonasJost
/test/sample/ @dilpath
/test/select/ @dilpath
/test/visualize/ @plakrisenko @stephanmg
