Repository ICB-DCM/pyPESTO, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Doresic, @PaulJonasJost, @vwiela, @dilpath, @dweindl, @FFroehlich, @arrjon

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners = active maintainers
* @Doresic @PaulJonasJost @vwiela

# Examples
/doc/example/censored_data.ipynb @Doresic
/doc/example/hdf5_storage.ipynb @PaulJonasJost
/doc/example/julia.ipynb @PaulJonasJost
/doc/example/model_selection.ipynb @dilpath
/doc/example/ordinal_data.ipynb @Doresic
/doc/example/petab_import.ipynb @dweindl @FFroehlich
/doc/example/relative_data.ipynb @dilpath @dweindl
/doc/example/sampler_study.ipynb @dilpath
/doc/example/sampling_diagnostics.ipynb @dilpath
/doc/example/semiquantitative_data.ipynb @Doresic
/doc/example/store.ipynb @PaulJonasJost
/doc/example/synthetic_data.ipynb @dilpath
/docker/ @dweindl

# Code
/pypesto/engine/ @PaulJonasJost
/pypesto/engine/mpi_pool.py @PaulJonasJost
/pypesto/ensemble/ @dilpath @PaulJonasJost
/pypesto/hierarchical/ @dweindl @Doresic
/pypesto/hierarchical/ordinal/ @Doresic
/pypesto/hierarchical/relative/ @dweindl @Doresic
/pypesto/hierarchical/semiquantitative/ @Doresic
/pypesto/history/ @PaulJonasJost
/pypesto/objective/ @PaulJonasJost
/pypesto/objective/julia @vwiela
/pypesto/objective/amici/ @dweindl @FFroehlich
/pypesto/objective/jax/ @FFroehlich
/pypesto/objective/aesara/ @FFroehlich
/pypesto/optimize/ @PaulJonasJost
/pypesto/petab/ @dweindl @FFroehlich
/pypesto/predict/ @dilpath
/pypesto/problem/ @PaulJonasJost @vwiela
/pypesto/profile/ @PaulJonasJost @Doresic
/pypesto/result/ @PaulJonasJost
/pypesto/sample/ @dilpath @arrjon
/pypesto/select/ @dilpath
/pypesto/startpoint/ @PaulJonasJost
/pypesto/store/ @PaulJonasJost

# Tests
/test/base/ @PaulJonasJost @vwiela
/test/doc/ @PaulJonasJost
/test/hierarchical/ @dweindl @Doresic
/test/julia/ @PaulJonasJost @vwiela
/test/optimize/ @PaulJonasJost
/test/petab/ @dweindl @FFroehlich
/test/profile/ @PaulJonasJost @Doresic
/test/sample/ @dilpath @arrjon
/test/select/ @dilpath

Moved dyntesty mcmc test into pipeline
  test/sample/test_sample.py
Owners: @dilpath, @arrjon

Merged two very similar tests
  test/sample/test_sample.py
Owners: @dilpath, @arrjon

Fix if-while infinite loop bug
  pypesto/profile/walk_along_profile.py
Owners: @PaulJonasJost, @Doresic

Remove unused sample result
  test/sample/test_sample.py
Owners: @dilpath, @arrjon

Sized down sample size to a fifth (still getting through in 80% of test) and marked as flakey.
  test/sample/test_sample.py
Owners: @dilpath, @arrjon

Moved harmonic mean to other evidence calculations
  test/sample/test_sample.py
Owners: @dilpath, @arrjon

Added util file for problem definition and constants
  test/sample/test_sample.py
  test/sample/util.py
Owners: @dilpath, @arrjon

Fixed Small typo and limited the number of chains for pymc
  test/sample/test_sample.py
  test/sample/util.py
Owners: @dilpath, @arrjon

Removed "test_groundtruth_separated_modes", as it is not really a test as for of an exhibition, which is covered in the jupyter notebook "sampler_study"
  test/sample/test_sample.py
  test/sample/util.py
Owners: @dilpath, @arrjon

Adapted import in variational to new changes
  test/variational/test_variational.py
Owners: @Doresic, @PaulJonasJost, @vwiela
