Repository ICB-DCM/pyPESTO, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Doresic, @PaulJonasJost, @m-philipps, @dilpath, @dweindl, @FFroehlich, @vwiela, @stephanmg, @doresic

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners = active maintainers
* @Doresic @PaulJonasJost @m-philipps

# Examples
/doc/example/censored_data.ipynb @Doresic
/doc/example/hdf5_storage.ipynb @PaulJonasJost
/doc/example/julia.ipynb @PaulJonasJost
/doc/example/model_selection.ipynb @dilpath
/doc/example/ordinal_data.ipynb @Doresic
/doc/example/petab_import.ipynb @dweindl @FFroehlich
/doc/example/relative_data.ipynb @dilpath @dweindl
/doc/example/sampler_study.ipynb @dilpath
/doc/example/sampling_diagnostics.ipynb @dilpath
/doc/example/semiquantitative_data.ipynb @Doresic
/doc/example/store.ipynb @PaulJonasJost
/doc/example/synthetic_data.ipynb @dilpath
/docker/ @dweindl

# Code
/pypesto/engine/ @PaulJonasJost
/pypesto/engine/mpi_pool.py @PaulJonasJost
/pypesto/ensemble/ @dilpath @PaulJonasJost
/pypesto/hierarchical/ @dweindl @Doresic
/pypesto/hierarchical/ordinal/ @Doresic
/pypesto/hierarchical/relative/ @dweindl @Doresic
/pypesto/hierarchical/semiquantitative/ @Doresic
/pypesto/history/ @PaulJonasJost
/pypesto/objective/ @PaulJonasJost
/pypesto/objective/amici/ @dweindl @FFroehlich
/pypesto/objective/jax/ @FFroehlich
/pypesto/objective/aesara/ @FFroehlich
/pypesto/optimize/ @PaulJonasJost
/pypesto/petab/ @dweindl @FFroehlich
/pypesto/predict/ @dilpath
/pypesto/problem/ @PaulJonasJost @m-philipps
/pypesto/profile/ @PaulJonasJost
/pypesto/result/ @PaulJonasJost
/pypesto/sample/ @dilpath @vwiela
/pypesto/select/ @dilpath
/pypesto/startpoint/ @PaulJonasJost
/pypesto/store/ @PaulJonasJost
/pypesto/visualize/ @stephanmg @m-philipps

# Tests
/test/base/ @PaulJonasJost @m-philipps
/test/doc/ @PaulJonasJost
/test/hierarchical/ @dweindl @doresic
/test/julia/ @PaulJonasJost
/test/optimize/ @PaulJonasJost
/test/petab/ @dweindl @FFroehlich
/test/profile/ @PaulJonasJost
/test/sample/ @dilpath
/test/select/ @dilpath
/test/visualize/ @stephanmg @m-philipps

Daniel review change
  pypesto/problem/base.py
Owners: @PaulJonasJost, @m-philipps

Paul review changes
  pypesto/hierarchical/inner_calculator_collector.py
Owners: @dweindl, @Doresic

Problem: add inner problem names, bounds and hierarchical flag (#1282)
  pypesto/hierarchical/base_problem.py
  pypesto/hierarchical/inner_calculator_collector.py
  pypesto/petab/importer.py
  pypesto/problem/__init__.py
  pypesto/problem/hierarchical.py
  pypesto/visualize/parameters.py
Owners: @dweindl, @Doresic, @FFroehlich, @PaulJonasJost, @m-philipps, @stephanmg

use petab select setter; breaking change since now unscaled values are stored
  pypesto/select/model_problem.py
Owners: @dilpath

Use warnings.warn instead of logging.warn when loading Problem from HDF5 without an Objective (#1253)
  pypesto/store/read_from_hdf5.py
Owners: @PaulJonasJost
