Repository ICB-DCM/pyPESTO, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ICB-DCM/pypesto-maintainers, @PaulJonasJost, @dilpath, @dweindl, @yannikschaelte, @FFroehlich, @doresic, @plakrisenko, @stephanmg

.github/CODEOWNERS:

# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners
* @ICB-DCM/pypesto-maintainers

/doc/example/hdf5_storage.ipynb @PaulJonasJost
/doc/example/hierarchical.ipynb @dilpath @dweindl @yannikschaelte
/doc/example/julia.ipynb @yannikschaelte
/doc/example/model_selection.ipynb @dilpath
/doc/example/petab_import.ipynb @dweindl @FFroehlich
/doc/example/sampler_study.ipynb @dilpath @yannikschaelte
/doc/example/sampling_diagnostics.ipynb @dilpath @yannikschaelte
/doc/example/store.ipynb @PaulJonasJost
/doc/example/synthetic_data.ipynb @dilpath
/docker/ @dweindl
/pypesto/engine/ @yannikschaelte
/pypesto/engine/mpi_pool.py @PaulJonasJost
/pypesto/ensemble/ @dilpath
/pypesto/hierarchical/ @dilpath @dweindl @yannikschaelte
/pypesto/hierarchical/optimal_scaling_approach/ @doresic
/pypesto/history/ @PaulJonasJost
/pypesto/objective/ @yannikschaelte
/pypesto/objective/amici/ @yannikschaelte @dweindl @FFroehlich
/pypesto/objective/jax/ @FFroehlich
/pypesto/objective/aesara/ @FFroehlich
/pypesto/optimize/ @yannikschaelte
/pypesto/petab/ @dweindl @FFroehlich
/pypesto/predict/ @PaulJonasJost @dilpath
/pypesto/problem/ @yannikschaelte
/pypesto/profile/ @PaulJonasJost
/pypesto/result/ @yannikschaelte
/pypesto/sample/ @dilpath @yannikschaelte
/pypesto/select/ @dilpath
/pypesto/startpoint/ @yannikschaelte
/pypesto/store/ @PaulJonasJost
/pypesto/visualize/ @plakrisenko @stephanmg
/test/base/ @yannikschaelte
/test/doc/ @yannikschaelte
/test/hierarchical/ @dilpath @dweindl @yannikschaelte
/test/julia/ @yannikschaelte
/test/optimize/ @yannikschaelte
/test/petab/ @dweindl @FFroehlich
/test/profile/ @PaulJonasJost
/test/sample/ @dilpath @yannikschaelte
/test/select/ @dilpath
/test/visualize/ @plakrisenko @stephanmg

black update
  pypesto/hierarchical/problem.py
  pypesto/history/base.py
  pypesto/objective/base.py
  pypesto/objective/finite_difference.py
  pypesto/objective/priors.py
  pypesto/petab/importer.py
  pypesto/profile/validation_intervals.py
  pypesto/result/predict.py
  test/petab/test_petab_import.py
  test/petab/test_sbml_conversion.py
  test/profile/test_validation_intervals.py
Owners: @dilpath, @dweindl, @yannikschaelte, @PaulJonasJost, @FFroehlich

Ignoring D202 now as it clashes with black
  .flake8
  pypesto/petab/importer.py
  pypesto/profile/profile_next_guess.py
  pypesto/result/profile.py
  pypesto/testing/examples.py
Owners: @ICB-DCM/pypesto-maintainers, @dweindl, @FFroehlich, @PaulJonasJost, @yannikschaelte

black update (#1010)
  .flake8
  pypesto/hierarchical/problem.py
  pypesto/history/base.py
  pypesto/objective/base.py
  pypesto/objective/finite_difference.py
  pypesto/objective/priors.py
  pypesto/petab/importer.py
  pypesto/profile/profile_next_guess.py
  pypesto/profile/validation_intervals.py
  pypesto/result/predict.py
  pypesto/result/profile.py
  pypesto/testing/examples.py
  test/petab/test_petab_import.py
  test/petab/test_sbml_conversion.py
  test/profile/test_validation_intervals.py
Owners: @ICB-DCM/pypesto-maintainers, @dilpath, @dweindl, @yannikschaelte, @PaulJonasJost, @FFroehlich

testing noqa
  pypesto/hierarchical/optimal_scaling_approach/__init__.py
  test/hierarchical/test_ordinal.py
Owners: @doresic, @dilpath, @dweindl, @yannikschaelte

Fixes.
  pypesto/objective/amici/amici.py
  pypesto/objective/base.py
  pypesto/petab/importer.py
  test/base/test_prior.py
Owners: @yannikschaelte, @dweindl, @FFroehlich

Black formatting.
  pypesto/objective/amici/amici.py
Owners: @yannikschaelte, @dweindl, @FFroehlich

Using check_grad_multi_eps in favor of check_grad
  test/petab/test_petab_import.py
Owners: @dweindl, @FFroehlich

Removed redundant test (covered already by test_plist_mapping).
  test/petab/test_petab_import.py
Owners: @dweindl, @FFroehlich

Getting rid of name mangling.
  pypesto/objective/amici/amici.py
  pypesto/objective/base.py
  test/base/test_prior.py
Owners: @yannikschaelte, @dweindl, @FFroehlich

Update documentation
  .pre-commit-config.yaml
  doc/example.rst
  doc/example/example_ordinal.ipynb
  doc/example/example_ordinal/experimentalCondition_example_ordinal.tsv
  doc/example/example_ordinal/measurementData_example_ordinal.tsv
  doc/example/example_ordinal/model_example_ordinal.xml
  doc/example/example_ordinal/observables_example_ordinal.tsv
  doc/example/example_ordinal/parameters_example_ordinal.tsv
  doc/example/rosenbrock.ipynb
  pypesto/C.py
  pypesto/hierarchical/optimal_scaling_approach/__init__.py
  pypesto/hierarchical/optimal_scaling_approach/optimal_scaling_calculator.py
  pypesto/hierarchical/optimal_scaling_approach/optimal_scaling_parameter.py
  pypesto/hierarchical/optimal_scaling_approach/optimal_scaling_problem.py
  pypesto/hierarchical/optimal_scaling_approach/optimal_scaling_solver.py
  pypesto/history/csv.py
  pypesto/petab/importer.py
Owners: @ICB-DCM/pypesto-maintainers, @doresic, @PaulJonasJost, @dweindl, @FFroehlich

removing suggestions of autosave again.
  pypesto/visualize/parameters.py
Owners: @plakrisenko, @stephanmg

update to parameter correlation (#1009)
  pypesto/visualize/model_fit.py
  pypesto/visualize/parameters.py
Owners: @plakrisenko, @stephanmg

Yannik&Dilan suggested changes
  doc/example/example_ordinal.ipynb
  pypesto/C.py
  pypesto/hierarchical/calculator.py
  pypesto/hierarchical/optimal_scaling/__init__.py
  pypesto/hierarchical/optimal_scaling/calculator.py
  pypesto/hierarchical/optimal_scaling/parameter.py
  pypesto/hierarchical/optimal_scaling/problem.py
  pypesto/hierarchical/optimal_scaling/solver.py
  pypesto/hierarchical/optimal_scaling_approach/__init__.py
  pypesto/hierarchical/optimal_scaling_approach/optimal_scaling_parameter.py
  pypesto/hierarchical/parameter.py
  pypesto/hierarchical/petab.py
  pypesto/hierarchical/problem.py
  pypesto/petab/importer.py
  test/hierarchical/test_ordinal.py
Owners: @ICB-DCM/pypesto-maintainers, @dilpath, @dweindl, @yannikschaelte, @doresic, @FFroehlich

Small review changes
  pypesto/C.py
  pypesto/petab/importer.py
Owners: @ICB-DCM/pypesto-maintainers, @dweindl, @FFroehlich

Fix mistake made
  pypesto/hierarchical/optimal_scaling/solver.py
  pypesto/petab/importer.py
Owners: @dilpath, @dweindl, @yannikschaelte, @FFroehlich

Add condition-specific parameters
  README.md
  doc/example/example_ordinal.ipynb
  pypesto/hierarchical/optimal_scaling/__init__.py
  pypesto/hierarchical/optimal_scaling/calculator.py
  pypesto/hierarchical/optimal_scaling/solver.py
  pypesto/petab/importer.py
Owners: @ICB-DCM/pypesto-maintainers, @dilpath, @dweindl, @yannikschaelte, @FFroehlich

fix example & test
  doc/example/example_ordinal.ipynb
  test/hierarchical/test_ordinal.py
Owners: @ICB-DCM/pypesto-maintainers, @dilpath, @dweindl, @yannikschaelte

Update default options
  pypesto/hierarchical/optimal_scaling/solver.py
Owners: @dilpath, @dweindl, @yannikschaelte

Add ordinal tests
  doc/example/example_ordinal.ipynb
  pypesto/hierarchical/optimal_scaling/calculator.py
  pypesto/hierarchical/optimal_scaling/solver.py
  test/hierarchical/test_ordinal.py
Owners: @ICB-DCM/pypesto-maintainers, @dilpath, @dweindl, @yannikschaelte

Fix default inner problem method
  pypesto/hierarchical/optimal_scaling/problem.py
Owners: @dilpath, @dweindl, @yannikschaelte

Small update to parameter historgram
  pypesto/visualize/parameters.py
Owners: @plakrisenko, @stephanmg

update inner_solver_options
  pypesto/hierarchical/optimal_scaling/solver.py
  pypesto/petab/importer.py
Owners: @dilpath, @dweindl, @yannikschaelte, @FFroehlich

Add spline back
  pypesto/C.py
  pypesto/hierarchical/optimal_scaling/problem.py
  pypesto/hierarchical/optimal_scaling/solver.py
  pypesto/hierarchical/parameter.py
  pypesto/hierarchical/spline_appoximation/__init__.py
  pypesto/hierarchical/spline_appoximation/spline_calculator.py
  pypesto/hierarchical/spline_appoximation/spline_parameter.py
  pypesto/hierarchical/spline_appoximation/spline_problem.py
  pypesto/hierarchical/spline_appoximation/spline_solver.py
  pypesto/petab/importer.py
Owners: @ICB-DCM/pypesto-maintainers, @dilpath, @dweindl, @yannikschaelte, @FFroehlich

inner_solver_options & documentation
  pypesto/hierarchical/optimal_scaling/calculator.py
  pypesto/hierarchical/optimal_scaling/problem.py
  pypesto/hierarchical/optimal_scaling/solver.py
  pypesto/petab/importer.py
Owners: @dilpath, @dweindl, @yannikschaelte, @FFroehlich

Small change
  pypesto/petab/importer.py
Owners: @dweindl, @FFroehlich

Update inner options
  pypesto/C.py
  pypesto/hierarchical/spline_appoximation/spline_problem.py
  pypesto/hierarchical/spline_appoximation/spline_solver.py
  pypesto/petab/importer.py
Owners: @ICB-DCM/pypesto-maintainers, @dilpath, @dweindl, @yannikschaelte, @FFroehlich

Fix mistake
  pypesto/hierarchical/optimal_scaling/calculator.py
Owners: @dilpath, @dweindl, @yannikschaelte

Name changes
  doc/example/example_ordinal.ipynb
  pypesto/hierarchical/parameter.py
  pypesto/hierarchical/spline_appoximation/__init__.py
  pypesto/hierarchical/spline_appoximation/calculator.py
  pypesto/hierarchical/spline_appoximation/parameter.py
  pypesto/hierarchical/spline_appoximation/problem.py
  pypesto/hierarchical/spline_appoximation/solver.py
  test/hierarchical/test_spline.py
Owners: @ICB-DCM/pypesto-maintainers, @dilpath, @dweindl, @yannikschaelte

ImportError example_ordinal
  doc/example/example_ordinal.ipynb
Owners: @ICB-DCM/pypesto-maintainers

Added parameter scatter plot for optimization.
  pypesto/visualize/__init__.py
  pypesto/visualize/parameters.py
Owners: @plakrisenko, @stephanmg

added option to profile the whole parameter bounds.
  pypesto/profile/options.py
  pypesto/profile/walk_along_profile.py
Owners: @PaulJonasJost

Renamed to optimization_scatter, added two tests.
  pypesto/visualize/__init__.py
  pypesto/visualize/parameters.py
  test/visualize/test_visualize.py
Owners: @plakrisenko, @stephanmg
